{% extends 'base_layout.html' %}
{% block content %}
<h1 class="text-center" style="padding-top: 10vh; padding-bottom: 1vh;">Products</h1>


<form class="d-flex" method="post" action="{% url 'search' %}" style="padding-bottom: 4vh;">

    {% csrf_token %}
    <input class="form-control me-2" type="search" name="searched" placeholder="Search...">
    <button class="btn btn-outline-secondary" type="submit">Search</button>

  </form>

  {% if searched %}

  <h1>You Searched For {{searched}}</h1>
  <br>

  <div class="row" style="gap: 20px;">
      {% for products in products %}
      <div class="card" style="width: 18rem;">
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{products.item_name}}</h5>
            <p class="card-text">${{products.item_price}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        {% endfor %}
  </div>
  {% else %}
      <h1> No Entry Please Try Agian</h1>
      <a class="btn btn-outline-primary" href="{% url 'products' %}">Back</a>
  {% endif %}

  {% endblock %}